extends layout

block content
    .container
        .page-header
            h1 Mirror Management
            p.lead Manage your mirror servers and account settings here. Please select an option from the navigation bar on top.