extends ../layout

block content
    .jumbotron.vertical-center
        .container
            .row
                .login-container.col-md-8.col-xs-12.col-md-offset-2
                    .login-header
                        h2 Login with your Mirror Account
                        p Please login with your credentials you got while confirming your registration

                    .login-body
                        form.form.form-horizontal(action='', method='post')
                            input(type='hidden', value=csrfToken, name='_csrf')
                            .form-group
                                label.control-label.col-sm-4(for='login_username') Username/Email
                                .col-sm-8
                                    input.form-control(id='login_username', name='login_username', type='text')

                            .form-group
                                label.control-label.col-sm-4(for='login_password') Password
                                .col-sm-8
                                    input.form-control(id='login_password', name='login_password', type='password')

                            .form-group
                                label.control-label.col-sm-4
                                .col-sm-8
                                    button.btn.btn-success.btn-block(type='submit') Login!
block foot
