extends ../layout

block content
    .jumbotron.vertical-center
        .container
            .row
                .login-container.col-md-8.col-xs-12.col-md-offset-2
                    .login-header
                        h2 Reset your password
                        p Please enter your new password!
                        p.text-warning Your password needs to be at least 8 characters!

                        if isError
                            .alert.alert-danger
                                strong Password doesn't match or doesn't contain at least 8 characters!

                        include ../layout/cookielaw

                    .login-body
                        form.form.form-horizontal(action='', method='post')
                            input(type='hidden', value=csrfToken, name='_csrf')
                            .form-group
                                label.control-label.col-sm-4(for='password_1') New password
                                .col-sm-8
                                    input.form-control(id='password_1', name='password_1', type='password', autofocus=true)

                            .form-group
                                label.control-label.col-sm-4(for='password_2') New password (repeat)
                                .col-sm-8
                                    input.form-control(id='password_2', name='password_2', type='password')

                            .form-group
                                label.control-label.col-sm-4
                                .col-sm-8
                                    button.btn.btn-success.btn-block(type='submit') Reset password!

                            .form-group
                                label.control-label.col-sm-4
                                .col-sm-8
                                    a.btn.btn-default.btn-block(href='/') Go back!
block foot
