
if displayCookieLaw
    .alert.alert-info.alert-dismissible(role='alert')
        strong We use cookies!
        |  We are using cookies for authentication and session handling only!

        button.btn.btn-default.pull-right.btn-xs(type='button', data-dismiss='alert', aria-label='Close')
            | Accept

